[submodule "CoAPDotNet"]
	path = CoAPDotNet
	url = https://github.com/vgolovanov/CoAPDotNet
[submodule "OpenThreadDotNet"]
	path = OpenThreadDotNet
	url = https://github.com/openthreaddotnet/OpenThreadDotNet
